{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock title %}</title>
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">My shop</a>
        {% if request.user.is_staff %}
        <a href="/add-product"><i class="fa-duotone fa-plus"></i></a>
        {% endif %}
        {% if request.user.is_authenticated %}
        {% with total_items=cart|length%}
            {% if cart|length > 0%}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                {{total_items}} item{{total_items|pluralize}},
                ${{ cart.get_total_price }}
            
            </a>
            {% else %}
            Your cart is empty
            {% endif %}
        {% endwith %}
        <a href="/account/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        {% else %}
        <a href="/account/sign_up"><i class="fa-solid fa-user-plus"></i> Sign up</a>
        <a href="/account/login"><i class="fa-solid fa-user-check"></i> Login</a>
        {% endif %}
        <form class="d-flex" action="{% url 'shop:search' %}">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</nav>
<div id="content">
    {% block content %}
        Empty Content
    {% endblock content %}
</div>
{% if products %}
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
</body>
</html>